body{
    max-width: 950px;
    margin: auto;
    font-family: Arial;
}
footer{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    border-top: 1px solid black;
}
.container{
    padding-bottom: 10px;
    border-top: 1px solid black;
}
